

$col-background: #9e9e9e;

//https://material.io/tools/color/#!/?view.left=1&view.right=0&primary.color=FF1744

$col-primary: #ff1744;
$col-primaryLight: #ff616f;



//$primary: mat-color(mat-palette($mat-lime));
//$primaryLight: mat-color(mat-palette($mat-lime), 200);
//$primaryGrey: mat-color(mat-palette($mat-grey));
